.card--image {
    width: 187.5px;
    object-fit: cover;
    border-radius: 7.5px;
}

.card {
    height: 252px;
    display: flex;
    gap: 28.5px;
}

.location {
    display: flex;
    align-items: center;
}

.pin--icon {
    width: 10.5px;
    height: 14.3px;
}

.location--link {
    color: #918E9B;
}

.country {
    padding: 0px 18px 0px 6px;
}

.card--title {
    font-size: 37.5px;
    font-weight: 700;
    margin-top: 5px;
}

.card--date {
    font-weight: 700;
    margin-bottom: 13.5px;
}

.description,
.card--date,
.country,
.location--link {
    font-size: 15.4px;
}

.description,
.country,
.location--link {
    font-weight: 400;
}

.delete--button {
    display: none;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    height: 45px;
    width: 45px;
    margin-left: auto;
}

.delete--button:active {
    transform: translateY(1.5px);
  }

.card:hover .delete--button {
    display: block;
}

.trash-icon {
    height: 100%;
    width: 100%;
}