.navbar {
    background-color: #F55A5A;
    height: 82.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 76.5px;
    position: relative;
}

.navbar--title {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 21.7px;
}

.world-icon {
    height: 36px;
    width: 36px;
}

.navbar--logo {
    display: flex;
    align-items: center;
    gap: 10.5px;
}

.navbar--button {
    position: absolute;
    right: 36px;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    height: 36px;
    width: 36px;
}

.plus-icon {
    height: 100%;
    width: 100%;
}

.navbar--button:active {
    transform: translateY(1px);
  }