.question-title {
    font-size: 1rem;
    font-weight: 700;
    color: #293264;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.answer-button {
    padding: 4px 12px;
    min-width: 75px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    color: #293264;
    letter-spacing: .04rem;
}